* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.container {
	margin: 20px auto;
	padding: 15px;
	width: 50%;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	background-color: tomato;
	transition: width 2s, height 2s, background-color 2s, transform 2s;
}

#timer {
	margin: 50px 150px;
	display: flex;
	justify-content: center;
	background-color: white;
	border-radius: 5px;
}

#timer > span {
	margin: 0 10px 0 10px;
	font-size: 30px;
}

.my-button {
	font-size: 20px;
	padding: 10px 10px;
	color: white;
	background-color: black;
	border-radius: 4px;
	cursor: pointer;
	border: none;
}

input {
	border-radius: 5px;
	border: none;
	width: 50px;
	text-align: center;
	font-size: 20px;
}

input:focus {
	outline: none;
}

label {
	font-size: 20px;
	color: white;
}

#wrapper {
	margin: 20px;
}

.flex-item {
	display: flex;
	margin: 20px 0;
	justify-content: space-between;
}

#button-container {
	display: flex;
	justify-content: space-around;
}